<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <style type="text/css"></style>
</head>
<body>
    <h1 style="text-align: center"><a class="p-1 text-dark" href="{% url 'index' %}">Main page</a><br></h1>
    <div class="alert alert-warning mt-4" style="text-align: center">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
