{% extends 'main/base_template.html' %}


{% block title %}
Create news
{% endblock %}


{% block content %}
<form method="post">
    {% csrf_token %}
    Title:
    {{form.title}}
    <br>
    Link:
    {{form.link}}
    <br>
    Author_name:
    {{form.author_name}}
    <br>
    <button type="submit" class="btn btn-success">Add news</button><br>
</form>
{% endblock %}
