{% extends 'main/base_template.html' %}


{% block title %}
Create comment
{% endblock %}


{% block content %}
    <form method="post">
        {% csrf_token %}
        Content:
        {{form.content}}
        <br>
        author name:
        {{form.author_name}}
        <br>
        {{form.news}}
        <button type="submit" class="btn btn-success">Add comment</button><br>
    </form>
{% endblock %}
