{% extends 'main/base_template.html' %}


{% block title %}
Delete news
{% endblock %}


{% block content %}

    <h1>Delete news</h1>
        <form method="post">{% csrf_token %}
            <h3>Delete "{{ news.title }}"?</h3><br>
            <button class="btn btn-warning">Yes</button><br>
        </form><br>
        <form action="/main">
            <button class="btn btn-primary">No</button>
        </form>


{% endblock %}
