{% extends 'main/base_template.html' %}


{% block title %}
Delete comment
{% endblock %}


{% block content %}
        <form method="post">{% csrf_token %}
            <h3>Delete comment?</h3><br>
            <button class="btn btn-warning">Yes</button><br>
        </form><br>
        <form action="/main">
            <button class="btn btn-primary">No</button>
        </form>

{% endblock %}
