{% extends 'main/base_template.html' %}


{% block title %}
Detail news
{% endblock %}


{% block content %}
    title:
    {{news.title}}<br>
    link:
    <a href="{{news.link}}">{{news.link}}</a><br>
    author_name:
    {{news.author_name}}<br>
    creation_date:
    {{news.creation_date}}<br>
{% endblock %}
