{% extends 'main/base_template.html' %}


{% block title %}
Main page
{% endblock %}


{% block content %}

    {% for some_news in news %}
        <div style="border: 3px solid #fff;">
            <br>
            <h4><a href="{{some_news.link}}">{{some_news}}</a></h4><br>
            author: {{some_news.author_name}}<br>
            creation date: {{some_news.creation_date}}<br>
            amount of upvotes: {{some_news.amount_of_upvotes}}
            <form method="post" action="/main/to_vote/{{some_news.id}}">{% csrf_token %}
                <button class="btn btn-info">To vote</button><br> </form>
            <br>
            <form action="/main/news_detail/{{some_news.id}}">
               <button class="btn btn-success">To news</button> {% csrf_token %}
            </form>
            <form action="/main/news_update/{{some_news.id}}"><br>
                <button class="btn btn-primary">Update news</button> {% csrf_token %}
            </form>
            <form action="/main/news_delete/{{some_news.id}}"><br>
                <button class="btn btn-warning">Delete news</button> {% csrf_token %}
                <br>
                <br>
            </form>
            <h3>Comments:</h3>
            {% for comment in comments %}
                {% if comment.news_id == some_news.id %}
                    <div style="border: 3px solid #fff;">
                        <p><a href="/main/comment_update/{{comment.id}}">{{comment}}</a></p>
                        <b>from: {{comment.author_name}}</b>; <b>date: {{comment.creation_date}}</b>
                    </div>
                {% endif %}
            {% endfor %}
            <p><a href="/main/comment_create/{{some_news.id}}">Add comment</a></p>
        </div>
    {% endfor %}

{% endblock %}
