{% extends 'main/base_template.html' %}


{% block title %}
Update news
{% endblock %}


{% block content %}
<form method="post">
{% csrf_token %}
{{form}}
<button type="submit" class="btn btn-success">Update news</button><br>
</form>
{% endblock %}
