{% extends 'main/base_template.html' %}


{% block title %}
Update comment
{% endblock %}


{% block content %}
<form method="post">
{% csrf_token %}
{{form}}
<button type="submit" class="btn btn-success">Update news</button><br>
</form>

<form action="/main/">
    <button class="btn btn-info">Back</button><br> </form>
<br>
<form action="/main/comment_delete/{{comment.id}}">
   <button class="btn btn-warning">Delete</button>
</form>
{% endblock %}
